# Python Tutorial

### Print statements

In [32]:
# "Old style" string formatting
course_title="Data Mining for Business Analytics"
print("This course title is", course_title)
print()

# "Old style" string formatting with "%" operator
section_1="CIS 9660 URA"
print("The course section is %s\n" % (section_1))

# "New Style" string formatting
classroom="B - Vert - 9-135"
print("Our classroom is {}\n".format(classroom))

# Python 3.6+ string interpolation / f-strings (formatted string literals)
day_1="Thursdays"
time_slot="6:05-9:00 PM"
print(f"Our class meets on {day_1} during {time_slot}")

This course title is Data Mining for Business Analytics

The course section is CIS 9660 URA

Our classroom is B - Vert - 9-135

Our class meets on Thursdays during 6:05-9:00 PM

### Arithmetic operators

In [33]:
# +, -, *, /, // (integer division), % (modulo), ** (power)
x = 5
y = 2
print("addition:", x + y)
print("subtraction:", x - y)
print("multiplication:", x * y)
print("division:", x / y)
print("integer division:", x // y)
print("modulo:", x % y)
print("power:", x ** y)

addition: 7
subtraction: 3
multiplication: 10
division: 2.5
integer division: 2
modulo: 1
power: 25

### Boolean operators

In [34]:
# and, or, not
x = True
y = False
print("and:", x and y)
print("or:", x or y)
print("not:", not y)

and: False
or: True
not: True

### Comparison operators

In [35]:
# >, >=, <, <=, ==, !=
x = 5
y = 2
z = 5
print("x greater than z:", x > z)
print("x greater than or equal to z:", x >= z)
print("x less than y:", x < y)
print("x less than or equal to z:", x <= z)
print("x equal to y:", x == y)
print("x not equal to y:", x != y)

x greater than z: False
x greater than or equal to z: True
x less than y: False
x less than or equal to z: True
x equal to y: False
x not equal to y: True

### Assignment operators

In [36]:
x = 1
print("x =",x)
y = x
print("y =",y)
x = x + 1
print("x =",x)
print("y =",y)

x = 1
y = 1
x = 2
y = 1

In [37]:
x += 1
print("x =",x)
x -= 1
print("x =",x)
print("y =",y)

x = 3
x = 2
y = 1

### Data types

In [38]:
#######
# str #
#######
a = "Hello, World !"
print("a =", a)
# Can optionally explicitly set the data type
a = str("Hello, World, again !!!")
print("a =", a)

a = Hello, World !
a = Hello, World, again !!!

In [39]:
#######
# int #
#######
b = 10
print("b =", b)
# Evaluate the data type
print("b's data type is", type(b))

b = 10
b's data type is <class 'int'>

In [40]:
#########
# float #
#########
c = 5.2
print("c =", c)

c = 5.2

In [41]:
########
# bool #
########
d = True
print("d =", d)

d = True

### Collections

#### A collection stores multiple items in a single variable.
#### Types of collections: list, tuple, set, dict, etc.

In [42]:
########
# list #
########
# A list is a collection which is ordered and changeable. Allows duplicate members.

e1 = ["pear", "orange", "apple", "pear"]
print("e1 =", e1)
print("e1[2] =", e1[2])

e2 = ["grape", "cherry"]
print("e2 =", e2)

e1 = ['pear', 'orange', 'apple', 'pear']
e1[2] = apple
e2 = ['grape', 'cherry']

In [43]:
e3 = e1 + e2
e3

['pear', 'orange', 'apple', 'pear', 'grape', 'cherry']

In [44]:
e3.append("banana")
e3

['pear', 'orange', 'apple', 'pear', 'grape', 'cherry', 'banana']

In [45]:
e3.insert(2,"peach")
e3

['pear', 'orange', 'peach', 'apple', 'pear', 'grape', 'cherry', 'banana']

In [46]:
e3.remove("pear")
e3

['orange', 'peach', 'apple', 'pear', 'grape', 'cherry', 'banana']

In [47]:
e3.sort()     # sorts the list in-place
e3

['apple', 'banana', 'cherry', 'grape', 'orange', 'peach', 'pear']

In [48]:
len(e3)

7

In [49]:
#########
# tuple #
#########
# A tuple is a collection which is ordered and unchangeable. Allows duplicate members.

f = ("apple", "pear", "peach", "banana", "pear")
print("f =", f)

f = ('apple', 'pear', 'peach', 'banana', 'pear')

In [50]:
"banana" in f

True

In [51]:
f.count("pear")

2

In [52]:
f.index("banana")

3

In [53]:
#######
# set #
#######
# A set is a collection which is unordered and changeable. No duplicate members.

g1 = {1, 2, 3}
print("g1 =", g1)

g2 = {3, 4, 5, 6}
print("g2 =", g2)

g1 = {1, 2, 3}
g2 = {3, 4, 5, 6}

In [54]:
g1.add(4)
g1

{1, 2, 3, 4}

In [55]:
g1.remove(3)
g1

{1, 2, 4}

In [56]:
g2.add(4)     # g2 is unchanged since 4 is already a member of the set
g2

{3, 4, 5, 6}

In [57]:
g3 = g1.union(g2)
g3

{1, 2, 3, 4, 5, 6}

In [58]:
g4 = g1.intersection(g2)
g4

{4}

In [59]:
g5 = g1.difference(g2)
g5

{1, 2}

In [60]:
g6 = g2.difference(g1)
g6

{3, 5, 6}

In [61]:
########
# dict #
########
# A dictionary is a collection which is ordered (insertion-order) and changeable. No duplicate members.
# Ordered as of Python 3.6 and later

h = {
        "first_name" : "Guido",
        "last_name" : "von Rossum",
        "language" : "Python",
        "created" : {
            "year" : 1991,
            "month" : "February",
            "day" : 20
            }
}
print("h =", h)

h = {'first_name': 'Guido', 'last_name': 'von Rossum', 'language': 'Python', 'created': {'year': 1991, 'month': 'February', 'day': 20}}

In [62]:
import pprint
pp = pprint.PrettyPrinter()
pp.pprint(h)

{'created': {'day': 20, 'month': 'February', 'year': 1991},
 'first_name': 'Guido',
 'language': 'Python',
 'last_name': 'von Rossum'}

### Conditional logic

In [63]:
################
# if then else #
################

In [64]:
a = 10
b = 20
if b > a:
    print("b is greater than a")

b is greater than a

In [65]:
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [66]:
c = 10
if a > c:
    print("a is greater than b")
elif a == c: 
    print("a is equal to b")

a is equal to b

### Loops

In [67]:
#########
# while #
#########

In [68]:
d = 1
e = 5
while d < e:
    print(d)
    d += 1     # d = d + 1

1
2
3
4

In [69]:
d = 1
e = 10
while d < e:
    if d ** 2 > e:     # if square of d is > e break out of loop
        break
    print(d)
    d += 1

1
2
3

In [70]:
d = 0
e = 10
while d < e:
    d += 1
    if d % 2 == 0:     # if d is an even number skip to next iteration
        continue
    print(d)

1
3
5
7
9

In [71]:
#######
# for #
#######

In [72]:
fruits = ["plum", "banana", "peach", "blueberry", "apple", "orange", "cherry", "pear"]
fruits

['plum', 'banana', 'peach', 'blueberry', 'apple', 'orange', 'cherry', 'pear']

In [73]:
for g in fruits:
    if len(g) > 5:     # if length of fruit is > 5 skip to next iteration
        continue
    print(g)

plum
peach
apple
pear

In [74]:
for h in fruits:
    if len(h) > 6:     # if length of fruit is > 6 break out of loop
        break
    print(h)

plum
banana
peach

### Generators & Iterators
#### A generator creates a set of values returned in an iterator.
#### An iterator is an object that can be iterated on. 
#### Every generator is an iterator, but not vice versa.

In [75]:
numbers = range(5)      # generates a sequence of numbers from 0 to 4
                        # range(5) is the same as range(0,5,1)
print(numbers)
print(list(numbers))

range(0, 5)
[0, 1, 2, 3, 4]

In [76]:
even_numbers = range(2,10,2)     # generates a sequence of numbers (incremented by 2) from 2 to 10
print(even_numbers)
print(list(even_numbers))

range(2, 10, 2)
[2, 4, 6, 8]

In [77]:
squares = []

for x in even_numbers:
    squares.append(x**2)
    
squares

[4, 16, 36, 64]

### List comprehensions

#### Create a list from an iterable (strings, arrays, lists, tuples, etc.).  The original list is unchanged.

In [78]:
numbers_2 = range(10)
print('numbers_2 =', list(numbers_2))

# [ EXPRESSION for ITEM in ITERABLE if CONDITION ]
numbers_2_subset = [ x for x in numbers_2 if x < 5 ]

print('numbers_2_subset =', numbers_2_subset)

numbers_2 = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
numbers_2_subset = [0, 1, 2, 3, 4]

In [79]:
even_squares = [ x**2 for x in range(10) if x % 2 == 0 ]
even_squares

[0, 4, 16, 36, 64]

### Indexing & slicing lists

In [80]:
numbers_3 = range(0,100,10)
print(list(numbers_3))

[0, 10, 20, 30, 40, 50, 60, 70, 80, 90]

In [81]:
# First n elements of a list
numbers_3a = numbers_3[0:4]
print(list(numbers_3a))

numbers_3b = numbers_3[:4]
print(list(numbers_3b))

[0, 10, 20, 30]
[0, 10, 20, 30]

In [82]:
# Last n elements of a list
numbers_3c = numbers_3[-3:]
print(list(numbers_3c))

[70, 80, 90]

In [83]:
# All but last n elements of a list
numbers_3d = numbers_3[:-4]
print(list(numbers_3d))

[0, 10, 20, 30, 40, 50]

### Functions

In [84]:
def raise_to(number, power):
    new_value = number ** power
    return new_value
    
raise_to(4, 3)

64

In [85]:
def raise_to_with_default(number, power=2):
    return number ** power

raise_to_with_default(7)

49

In [86]:
def raise_to_with_default(number, power=2):
    """Raise a number to a power. Default power = 2."""
    return number ** power

raise_to_with_default.__doc__

'Raise a number to a power. Default power = 2.'

### Python shell

In [87]:
! pwd

'pwd' is not recognized as an internal or external command,
operable program or batch file.

In [88]:
! ls -l | grep ^d

'ls' is not recognized as an internal or external command,
operable program or batch file.

### Create the following directories, if they don't exist
#### syntax:  mkdir directory_name
* data
* images
* models

In [89]:
%cd data

[WinError 2] The system cannot find the file specified: 'data'
C:\Users\15513\Desktop\Baruch\Second Sem\Data Mining\2\Work\python

In [90]:
! ls

'ls' is not recognized as an internal or external command,
operable program or batch file.