# Exercise Pandas
Data file: cars.csv

### Import libraries

In [5]:
import pandas as pd

### Load data

In [6]:
# Read data file (cars.csv) into a dataframe
df= pd.read_csv(r"cars.csv")

In [7]:
df.head() # seenig the top t

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US

### Examine data

In [8]:
# Review dataframe shape
df.shape  #the shape of data the col and row

(406, 9)

In [9]:
# Review first 10 rows
df.head(10) # top 10 head

,Car,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model,Origin
0,Chevrolet Chevelle Malibu,18.0,8,307.0,130,3504,12.0,70,US
1,Buick Skylark 320,15.0,8,350.0,165,3693,11.5,70,US
2,Plymouth Satellite,18.0,8,318.0,150,3436,11.0,70,US
3,AMC Rebel SST,16.0,8,304.0,150,3433,12.0,70,US
4,Ford Torino,17.0,8,302.0,140,3449,10.5,70,US
5,Ford Galaxie 500,15.0,8,429.0,198,4341,10.0,70,US
6,Chevrolet Impala,14.0,8,454.0,220,4354,9.0,70,US
7,Plymouth Fury iii,14.0,8,440.0,215,4312,8.5,70,US
8,Pontiac Catalina,14.0,8,455.0,225,4425,10.0,70,US
9,AMC Ambassador DPL,15.0,8,390.0,190,3850,8.5,70,US

### Count the number of cars

In [10]:
df.count()["Car"] #count is a function and then from data frame we are selecting
#specific solumn name car

406

### Count the number of cars by Cylinders

In [11]:
df.groupby("Cylinders").count()["Car"] #groupby function is used to geup by the 
#data and then we are counting teh car as pwe the group and seeing the specific
#car

Cylinders
3      4
4    207
5      3
6     84
8    108
Name: Car, dtype: int64

### Count the number of cars by Origin

In [12]:
df.groupby("Origin").count()["Car"]

Origin
Europe     73
Japan      79
US        254
Name: Car, dtype: int64

### Calculate the average Horsepower of cars by Cylinders

In [13]:
df.groupby("Cylinders").median()["Horsepower"]

C:\Users\15513\AppData\Local\Temp\ipykernel_18224\2564418027.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.median is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  df.groupby("Cylinders").median()["Horsepower"]

Cylinders
3     98.5
4     76.0
5     77.0
6    100.0
8    150.0
Name: Horsepower, dtype: float64

### Calculate the maximum MPG by Origin

In [14]:
df.groupby("Origin").max()["MPG"]

Origin
Europe    44.3
Japan     46.6
US        39.0
Name: MPG, dtype: float64

In [15]:
df.describe()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
count,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000,406.000000
mean,23.051232,5.475369,194.779557,103.529557,2979.413793,15.519704,75.921182
std,8.401777,1.712160,104.922458,40.520659,847.004328,2.803359,3.748737
min,0.000000,3.000000,68.000000,0.000000,1613.000000,8.000000,70.000000
25%,17.000000,4.000000,105.000000,75.000000,2226.500000,13.700000,73.000000
50%,22.350000,4.000000,151.000000,93.500000,2822.500000,15.500000,76.000000
75%,29.000000,8.000000,302.000000,129.000000,3618.250000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [16]:
df.notnull().sum()

Car             406
MPG             406
Cylinders       406
Displacement    406
Horsepower      406
Weight          406
Acceleration    406
Model           406
Origin          406
dtype: int64

In [17]:
df.corr()

C:\Users\15513\AppData\Local\Temp\ipykernel_18224\1134722465.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,MPG,Cylinders,Displacement,Horsepower,Weight,Acceleration,Model
MPG,1.000000,-0.735563,-0.764277,-0.726670,-0.787510,0.424490,0.586234
Cylinders,-0.735563,1.000000,0.951787,0.823467,0.895220,-0.522452,-0.360762
Displacement,-0.764277,0.951787,1.000000,0.873758,0.932475,-0.557984,-0.381714
Horsepower,-0.726670,0.823467,0.873758,1.000000,0.840811,-0.682047,-0.419929
Weight,-0.787510,0.895220,0.932475,0.840811,1.000000,-0.430086,-0.315389
Acceleration,0.424490,-0.522452,-0.557984,-0.682047,-0.430086,1.000000,0.301992
Model,0.586234,-0.360762,-0.381714,-0.419929,-0.315389,0.301992,1.000000