# Exercise NumPy & Pandas
Data file: parks.csv

## Part 1: NumPy

### Import libraries

In [34]:
import numpy as np

### Create a 1-dimensional array with the following elements:
'a', 'd', 'e', 'd', 'b', 'b', 'c', 'f', 'c'

In [35]:
a= np.array(['a', 'd', 'e', 'd', 'b', 'b', 'c', 'f', 'c'])
print(a) #numpy array

['a' 'd' 'e' 'd' 'b' 'b' 'c' 'f' 'c']

### Examine data

In [36]:
# Display array
print(a)

['a' 'd' 'e' 'd' 'b' 'b' 'c' 'f' 'c']

In [37]:
# Display number of elements in array
np.shape(a) #numpyshape

(9,)

In [38]:
# Display number of elements in array
np.shape(a)

(9,)

In [39]:
# Display unique elements in array
np.unique(a) #the numpy unique function

array(['a', 'b', 'c', 'd', 'e', 'f'], dtype='<U1')

In [40]:
# Display number of unique elements in array
np.shape(np.unique(a)) #we are calling unique in shape

(6,)

### Create a 2-dimensional array with the following elements:
row 1 = 'a', 'd', 'c'  
row 2 = 'd', 'e', 'f'  
row 1 = 'g', 'h', 'i'  
row 2 = 'j', 'k', 'l'

In [41]:
a= np.array([['a', 'd', 'c','g', 'h', 'i'],['d', 'e', 'f', 'j', 'k', 'l']])

### Examine data

In [42]:
# Display 2D array
a

array([['a', 'd', 'c', 'g', 'h', 'i'],
       ['d', 'e', 'f', 'j', 'k', 'l']], dtype='<U1')

In [43]:
a.shape

(2, 6)

### Slice 2D array to extract subset:
row 1 = 'h', 'i'  
row 2 = 'k', 'l'

In [44]:
a[:,4:6] #[row:col] #select all row 
#select col [4:6]

array([['h', 'i'],
       ['k', 'l']], dtype='<U1')

### Transpose 2D array

In [45]:
a.T #changing row into col

array([['a', 'd'],
       ['d', 'e'],
       ['c', 'f'],
       ['g', 'j'],
       ['h', 'k'],
       ['i', 'l']], dtype='<U1')

## Part 2: Pandas

### Import libraries

In [46]:
import pandas as pd

### Load data

In [47]:
# Read data file (parks.csv) into a dataframe
#  NOTE: Load the data using "Park Code" as the index
df= pd.read_csv(r"parks.csv")

### Examine data

In [48]:
# Display the dataframe shape
df.head()

  Park Code               Park Name State   Acres  Latitude  Longitude
0      ACAD    Acadia National Park    ME   47390     44.35     -68.21
1      ARCH    Arches National Park    UT   76519     38.68    -109.57
2      BADL  Badlands National Park    SD  242756     43.75    -102.50
3      BIBE  Big Bend National Park    TX  801163     29.25    -103.25
4      BISC  Biscayne National Park    FL  172924     25.65     -80.08

In [49]:
# Display first 10 rows
df.head(10)

,Park Code,Park Name,State,Acres,Latitude,Longitude
0,ACAD,Acadia National Park,ME,47390,44.35,-68.21
1,ARCH,Arches National Park,UT,76519,38.68,-109.57
2,BADL,Badlands National Park,SD,242756,43.75,-102.50
3,BIBE,Big Bend National Park,TX,801163,29.25,-103.25
4,BISC,Biscayne National Park,FL,172924,25.65,-80.08
5,BLCA,Black Canyon of the Gunnison National Park,CO,32950,38.57,-107.72
6,BRCA,Bryce Canyon National Park,UT,35835,37.57,-112.18
7,CANY,Canyonlands National Park,UT,337598,38.20,-109.93
8,CARE,Capitol Reef National Park,UT,241904,38.20,-111.17
9,CAVE,Carlsbad Caverns National Park,NM,46766,32.17,-104.44

In [50]:
# Count the number of unique 'States'
df.State.unique().size #from df we selected State used Unique function and
#then size attribute

27

In [51]:
# Display the unique 'States'
df.State.unique()

array(['ME', 'UT', 'SD', 'TX', 'FL', 'CO', 'NM', 'CA', 'SC', 'OR', 'OH',
       'AK', 'NV', 'MT', 'AZ', 'TN', 'NC', 'WY', 'HI', 'AR', 'MI', 'KY',
       'WA', 'VA', 'ND', 'MN', 'ID'], dtype=object)

In [52]:
#df=df.rename(columns = { 'Park Code':'Park_Code'})

In [53]:
df[df["Park Code"]=='YOSE']

   Park Code               Park Name State   Acres  Latitude  Longitude
58      YOSE  Yosemite National Park    CA  761266     37.83     -119.5

In [54]:
# Display the record where the Park Code = 'YOSE'
#df.query("Park_Code=='YOSE'") first rename

In [55]:
# Display the 13th record
df.loc[[13]]

   Park Code                      Park Name State  Acres  Latitude  Longitude
13      CUVA  Cuyahoga Valley National Park    OH  32950     41.24     -81.55

In [56]:
# Display the parks in Utah (State = 'UT')
df.query("State == 'UT'")["Park Name"]

1           Arches National Park
6     Bryce Canyon National Park
7      Canyonlands National Park
8     Capitol Reef National Park
59            Zion National Park
Name: Park Name, dtype: object

In [57]:
# Display the parks in Virginia, North Carolina or Tennessee (State = 'VA','NC','TN')
df.query("State == 'VA' or State == 'NC' or State == 'TN'")["Park Name"]

25    Great Smoky Mountains National Park - TN
26    Great Smoky Mountains National Park - NC
50                    Shenandoah National Park
Name: Park Name, dtype: object

In [58]:
# Display the parks in Virginia, North Carolina or Tennessee (State = 'VA','NC','TN')
df.query("State == 'VA' or State == 'NC' or State == 'TN'")["Park Name"]

25    Great Smoky Mountains National Park - TN
26    Great Smoky Mountains National Park - NC
50                    Shenandoah National Park
Name: Park Name, dtype: object

In [59]:
# Display the parks with more than 3 million acres
df.query("State == 'VA' or State == 'NC' or State == 'TN'")["Park Name"]

25    Great Smoky Mountains National Park - TN
26    Great Smoky Mountains National Park - NC
50                    Shenandoah National Park
Name: Park Name, dtype: object

In [60]:
# Display the number of parks by state
df.groupby("State")["Park Name"].count()

State
AK    8
AR    1
AZ    3
CA    8
CO    4
FL    3
HI    2
ID    1
KY    1
ME    1
MI    1
MN    1
MT    2
NC    1
ND    1
NM    1
NV    2
OH    1
OR    1
SC    1
SD    2
TN    1
TX    2
UT    5
VA    1
WA    3
WY    2
Name: Park Name, dtype: int64

In [61]:
# Display the number of parks by state
df.groupby("State")["Park Name"].count()

State
AK    8
AR    1
AZ    3
CA    8
CO    4
FL    3
HI    2
ID    1
KY    1
ME    1
MI    1
MN    1
MT    2
NC    1
ND    1
NM    1
NV    2
OH    1
OR    1
SC    1
SD    2
TN    1
TX    2
UT    5
VA    1
WA    3
WY    2
Name: Park Name, dtype: int64

In [62]:
# Display the total number of acres for all parks by state
df.groupby("State")["Acres"].sum()

State
AK    31159251
AR        5550
AZ     1402376
CA     7652926
CO      393884
FL     1746163
HI      352525
ID     2219791
KY       52830
ME       47390
MI      571790
MN      218200
MT     3233363
NC      521490
ND       70447
NM       46766
NV     4818092
OH       32950
OR      183224
SC       26546
SD      271051
TN      521490
TX      887579
UT      838454
VA      199045
WA     1663057
WY     2529786
Name: Acres, dtype: int64